$azure: #feffff;
$mischka: #858794;
$midnight-express: #13183c;
$burnt-sienna: #ed6c4e;
$deep-cerise: #d03096;
$neon-blue: #6849ed;
$medium-red-violet: #af3a9a;

$primary-color: $azure;
$primary-dark-color: $midnight-express;

$accent-light-color-one: $burnt-sienna;
$accent-light-color-two: $deep-cerise;

$accent-dark-color-one: $neon-blue;
$accent-dark-color-two: $medium-red-violet;

$neutral-color: $mischka;